body {
  padding: 0;
  margin: 0;
}
.mainHeader {
  background: url('/images/Evest-BG.jpg');
  margin: 0 auto;
  padding: 0;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  text-align: center;
  background: #f9f9f9;
  border-radius: 5px;
  margin: 0px;
  padding: 30px 20px;
  margin-bottom: 60px;
  height: 500px;
  width: 400px;
}
#myButton {
  background-color: #49a7a7;
  color: white;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  width: 250px;
  outline: none;
  border-width: 0px;
  margin-top: 20px;
}

.title {
  text-align: center;
  height: 760px;
}

.upperTitle {
  font-size: 50px;
  margin-top: 25px;
  text-align: right;
}

.topic1 .myList {
  text-align: right;
}
